<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhc.cloud.system.domain.mapper.SysNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhc.cloud.system.domain.mysql.SysNoticePO">
        <id column="notice_id" property="noticeId" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="notice_title" property="noticeTitle" />
        <result column="notice_type" property="noticeType" />
        <result column="notice_content" property="noticeContent" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_id,
        create_time,
        update_id,
        update_time,
        notice_id, notice_title, notice_type, notice_content, status, remark, deleted
    </sql>

</mapper>
