<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhc.cloud.system.domain.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhc.cloud.system.domain.mysql.SysUserPO">
        <id column="user_id" property="userId" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
        <result column="dept_id" property="deptId" />
        <result column="user_name" property="userName" />
        <result column="nick_name" property="nickName" />
        <result column="user_type" property="userType" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="login_ip" property="loginIp" />
        <result column="login_date" property="loginDate" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="UserBaseResultMap" extends="BaseResultMap" type="com.zhc.cloud.system.domain.mysql.SysUserPO">
        <association property="dept"    column="dept_id" javaType="com.zhc.cloud.system.domain.mysql.SysDeptPO" resultMap="deptResult" />
        <collection  property="roles"   javaType="java.util.ArrayList"        resultMap="RoleResult" />
    </resultMap>
    <resultMap id="deptResult" type="com.zhc.cloud.system.domain.mysql.SysDeptPO">
        <id     property="deptId"   column="dept_id"     />
        <result property="parentId" column="parent_id"   />
        <result property="deptName" column="dept_name"   />
        <result property="orderNum" column="order_num"   />
        <result property="leader"   column="leader"      />
        <result property="status"   column="dept_status" />
    </resultMap>

    <resultMap id="RoleResult" type="com.zhc.cloud.system.domain.mysql.SysRolePO">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"     column="data_scope"    />
        <result property="status"       column="role_status"    />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u.create_id,
        u.create_time,
        u.update_id,
        u.update_time,
        u.user_id, u.dept_id, u.user_name, u.nick_name, u.user_type, u.email, u.phone, u.sex, u.avatar, u.password, u.status, u.deleted, u.login_ip, u.login_date, u.remark
    </sql>

    <select id="getUserInfo" resultMap="UserBaseResultMap">
        select u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.avatar, u.phone, u.password, u.sex, u.status, u.deleted, u.login_ip, u.login_date, u.create_id, u.create_time, u.remark,
               d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,
               r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from sys_user u
                     left join sys_dept d on u.dept_id = d.dept_id
                     left join sys_user_role ur on u.user_id = ur.user_id
                     left join sys_role r on r.role_id = ur.role_id
        where u.user_name = #{userName}
    </select>

    <select id="selectUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user u
        left join sys_dept  on  u.dept_id =  `sys_dept`.dept_id
        <where>
            u.deleted = 0
            <if test="userId != null and userId != 0">
                AND u.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                AND u.user_name like concat('%', #{userName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone like concat('%', #{phone}, '%')
            </if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="deptId != null and deptId != 0">
                AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
        </where>


    </select>
</mapper>
